
<% @computer.sort! { |a,b| a.time <=> b.time } %>

<h3>Systems Tested</h3>

<p> <%= (@computer.first).userName %> submitted the fastest system, a <%= (@computer.first).category %>, which needed <%=  (@computer.first).time %> ms. &nbsp; 
<%= link_to "show", :action => 'show', :id => @computer.first.id %>
<br>
<%= (@computer.last).userName %> submitted the slowest system, a <%= (@computer.last).category %>, which needed <%=  (@computer.last).time %> ms. &nbsp; 
<%= link_to "show", :action => 'show', :id => @computer.last.id %>
</p>

<h4>Desktops</h4>
<table>
	<tr>
		<td>Time in milliseconds </td> <td>&nbsp; | Browser |</td> <td>Machine Description</td> <td>&nbsp;</td>
	</tr>
<% for computers in @computer %>
	<% if computers.category == "Desktop" %>
		<%= render computers %>
	<% end %>
<% end %>
</table>

<h4>Laptops</h4>
<table>
	<tr>
		<td>Time in milliseconds </td><td>&nbsp; | Browser |</td> <td>Machine Description</td>
	</tr>
<% for computers in @computer %>
	<% if computers.category == "Laptop" %>
		<%= render computers %>
	<% end %>
<% end %>
</table>

<h4>Tablets, Phones and Ipods</h4>
<table>
	<tr>
		<td>Time in milliseconds </td> <td>&nbsp; | Browser |</td>
<td>Machine Description</td>
	</tr>
<% for computers in @computer %>
	<% if (computers.category == "Tablet")  %>
		<%= render computers %>
	<% elsif (computers.category == "Phone") %>
		<%= render computers %>
	<% elsif (computers.category == "Ipod") %>
		<%=  render computers %>
	<% end %>
<% end %>
</table>

<h4>Other</h4>
<table>
	<tr>
		<td>Time in milliseconds </td> <td>&nbsp; | Browser |</td>
<td>Machine Description</td>
	</tr>
<% for computers in @computer %>
	<% if computers.category == "Other" %>
		<%= render computers %>
	<% end %>
<% end %>
</table>
