<h2>Your time has been recorded</h2>

<ul>
		<li>User: &nbsp <%= @computer.userName %></li>
		<li>Browser: &nbsp <%= @computer.browser %></li>
		<li>Machine type: &nbsp <%= @computer.category %></li>
		<li>Computer description: &nbsp <%= @computer.description%></li>
		<li>User agent: &nbsp <%= @computer.userAgentString%></li>
		<li>Time to find primes under 20000: &nbsp <%= @computer.time%>&nbsp milliseconds.</li>
</ul>
<br>
<h2>Go to Results to see how your system compares</h2>
